header {
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/header-background.jpg);
    background-size: auto;
    padding: 10rem;
    margin-bottom: 1rem;
}
.profile-pic {
    position: absolute;
    top: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    left: 0;
    max-width: 25rem;
    border-style: solid;
    border-color: var(--white);
    box-shadow: 5px 5px 0px 0px purple;
    transition: max-width 0.5s;
}
  
.my-name {
    font-size: 5rem;
    position: absolute;
    top: 0;
    margin-top: 10rem;
    margin-left: 30rem;
    left: 0;
    font-family: Roboto, Arial, sans-serif;
}

nav ul li {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}
  
nav ul li:hover {
    text-shadow: 6px 2px 10px var(--blue);
}

li a {
    color: var(--white);
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;}
  
li a:hover {
    color: var(--pink);
}